{% extends 'base.html' %}

<p lang="en" xmlns="http://www.w3.org/1999/html">
{% block title %}<title>Flask & VGG16 Image Classifier</title>{% endblock %}

{% block content %}
<h2>Select a file to upload</h2>

	<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
        Label: {{ messages[0] }}
	</p>
	<p>
		Accuracy: {{ messages[1] }}
	</p>
        Model Used: {{ messages[2] }}
	  {% endif %}
	{% endwith %}
	</p>

	<p>
	  {% if full_filename %}
		<h1><img src="./Pictures/GovPyramide.png" width="500" height="600"></h1>
	  {% endif %}
	</p>

<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
		<p>
			<input type="radio" id="VGG16" name="model" value="VGG16">
			<label for="VGG16">VGG16</label><br>
			<input type="radio" id="Xception" name="model" value="Xception">
			<label for="Xception">Xception</label><br>
			<input type="radio" id="ResNet50" name="model" value="ResNet50">
			<label for="ResNet50">ResNet50</label>
		</p>
	</dl>
    <p>
		<input type="submit" value="Submit">
    </p>
</form>
{% endblock %}
</html>