{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col-sm-4">
        <form id="upload-file-ResNet50" method="post" enctype="multipart/form-data">
            <label for="imageUploadResNet50" class="upload-label">
               ResNet50 Choose...
            </label>
            <input type="file" name="file" id="imageUploadResNet50" accept=".png, .jpg, .jpeg" multiple>
            <p>
                Explainer Method:
            </p>
                <input type="radio" id="gradientResNet50" name="explainerResNet50" value="gradient">
                <label for="gradientResnet50">gradient</label><br>
                <input type="radio" id="smoothgradResNet50" name="explainerResNet50" value="smoothgrad">
                <label for="smoothgradResnet50">smoothgrad</label><br>
                <input type="radio" id="deconvnetResnet50" name="explainerResNet50" value="deconvnet">
                <label for="deconvnetResnet50">deconvnet</label>
		    </p>
        </form>
        <p>
        <div class="image-section-ResNet50" style="display:none;">
            <div class="img-preview">
                <div id="imagePreviewResNet50">
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-lg " id="btn-predict-ResNet50">ResNet50 Predict!</button>
            </div>
        </div>
        </p>
        <div class="loaderResNet50" style="display:none;"></div>
        <h3 id="resultResNet50">
            <span> </span>
        </h3>
        <div id="plotResNet50">
        </div>
    </div>
    <p></p>

    <div class="col-sm-4">
        <form id="upload-file-VGG16" method="post" enctype="multipart/form-data">
            <label for="imageUploadVGG16" class="upload-label">
               VGG16 Choose...
            </label>
            <input type="file" name="file" id="imageUploadVGG16" accept=".png, .jpg, .jpeg">
            <p>
            Explainer Method:
            </p>
			<input type="radio" id="gradientVGG16" name="explainerVGG16" value="gradient">
			<label for="gradientVGG16">gradient</label><br>
			<input type="radio" id="smoothgradVGG16" name="explainerVGG16" value="smoothgrad">
			<label for="smoothgradVGG16">smoothgrad</label><br>
			<input type="radio" id="deconvnetVGG16" name="explainerVGG16" value="deconvnet">
			<label for="deconvnetVGG16">deconvnet</label>
        </form>
        <p>
        <div class="image-section-VGG16" style="display:none;">
            <div class="img-preview">
                <div id="imagePreviewVGG16">
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-lg " id="btn-predict-VGG16">VGG16 Predict!</button>
            </div>
        </div>
        </p>
        <div class="loaderVGG16" style="display:none;"></div>
    </div>
    <div class="col-sm-4">
        <form id="upload-file-Xception" method="post" enctype="multipart/form-data">
            <label for="imageUploadXception" class="upload-label">
               Xception Choose...
            </label>
            <input type="file" name="file" id="imageUploadXception" accept=".png, .jpg, .jpeg">
            <p>
                Explainer Method:
            </p>
                <input type="radio" id="gradientXception" name="explainerXception" value="gradient">
                <label for="gradientXception">gradient</label><br>
                <input type="radio" id="smoothgradXception" name="explainerXception" value="smoothgrad">
                <label for="smoothgradXception">smoothgrad</label><br>
                <input type="radio" id="deconvnetXception" name="explainerXception" value="deconvnet">
                <label for="deconvnetXception">deconvnet</label>
        </form>
        <p>
        <div class="image-section-Xception" style="display:none;">
            <div class="img-preview">
                <div id="imagePreviewXception">
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-lg " id="btn-predict-Xception">Xception Predict!</button>
            </div>
        </div>
        </p>
        <div class="loaderXception" style="display:none;"></div>

        <h3 id="resultXception">
            <span> </span>
        </h3>
    </div>
    {% block results %}{% endblock %}
</div>

{% endblock %}